.fighter-preview___info_name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.fighter-preview___info_row {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.fighter-preview___info {  
  text-align: center;
  padding: 5px 10px;
  width: 120px;
}

.fighter-preview___info img {
  padding-right: 5px;
}

.fighter-preview___info span {
  margin-left: 3px;
}