.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  margin-top: 15px;
  height: 200px;
}

.fighter-preview___right .fighter-preview___img  {
  transform: scaleX(-1);
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.fighters___fighter {
  height: 150px;
  max-width: 150px;
  max-height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;  
  margin: 10px;  
}

.fighter___fighter-image {
  user-select: none;
}

